In [1]:
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from collections import defaultdict

In [2]:
df=pd.read_csv("/home/umair/Desktop/Data Science and BI/data mining/DM 2 parctice/occupancy_data/DataCleaned.csv")

In [3]:
df.head()

,Unnamed: 0,date,DayName,IsWorkDay,Hour,IsWorkHour,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,0,2015-02-04,Wednesday,1,17,1,23.18,27.2720,1.0,721.25,0.004793,1
1,1,2015-02-04,Wednesday,1,17,1,23.15,27.2675,1.0,714.00,0.004783,1
2,2,2015-02-04,Wednesday,1,17,1,23.15,27.2450,1.0,713.50,0.004779,1
3,3,2015-02-04,Wednesday,1,17,1,23.15,27.2000,1.0,708.25,0.004772,1
4,4,2015-02-04,Wednesday,1,17,1,23.10,27.2000,1.0,704.50,0.004757,1

In [4]:
print('Dataset shape %s' % Counter(df['Occupancy']))

Dataset shape Counter({0: 6414, 1: 1729})

In [5]:
df=df.drop(df.query('Occupancy == 1').sample(frac=.8115).index)

In [6]:
print('Dataset shape %s' % Counter(df['Occupancy']))

Dataset shape Counter({0: 6414, 1: 326})

In [7]:
df.to_csv(r'DataCleanedTrainUMB.csv')